<div class="container">
    <h2>Usuarios</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <!-- <td><span>{{item.id}}</span></td> -->
          <td><span>{{item.name}}</span></td>
          <td><span>{{item.email}}</span></td>
          <td><span>{{item.role}}</span></td>
        </tr>
        </tbody>
      </table>

</div>
